[submodule "odoo/external-src/enterprise"]
	path = odoo/external-src/enterprise
	url = git@github.com:odoo/enterprise.git
[submodule "odoo/src"]
	path = odoo/src
	url = git@github.com:OCA/OCB.git
[submodule "odoo/external-src/server-tools"]
	path = odoo/external-src/server-tools
	url = git@github.com:camptocamp/server-tools.git
[submodule "odoo/external-src/hr"]
	path = odoo/external-src/hr
	url = git@github.com:camptocamp/hr.git
[submodule "odoo/external-src/hr-timesheet"]
	path = odoo/external-src/hr-timesheet
	url = git@github.com:OCA/hr-timesheet.git
	branch = 10.0
[submodule "odoo/external-src/odoo-cloud-platform"]
	path = odoo/external-src/odoo-cloud-platform
	url = git@github.com:camptocamp/odoo-cloud-platform.git
	branch = 10.0
[submodule "odoo/external-src/sale-workflow"]
	path = odoo/external-src/sale-workflow
	url = git@github.com:camptocamp/sale-workflow.git
[submodule "odoo/external-src/intrastat"]
	path = odoo/external-src/intrastat
	url = https://github.com/oca/intrastat.git
	branch = 10.0
[submodule "odoo/external-src/project"]
	path = odoo/external-src/project
	url = git@github.com:OCA/project
