[submodule "odoo/external-src/server-tools"]
	path = odoo/external-src/server-tools
	url = git@github.com:oca/server-tools.git
[submodule "odoo/external-src/web"]
	path = odoo/external-src/web
	url = git@github.com:oca/web.git
[submodule "odoo/external-src/enterprise"]
	path = odoo/external-src/enterprise
	url = git@github.com:odoo/enterprise.git
[submodule "odoo/src"]
	path = odoo/src
	url = git@github.com:OCA/OCB.git
[submodule "odoo/external-src/product-variant"]
	path = odoo/external-src/product-variant
	url = git@github.com:OCA/product-variant.git
[submodule "odoo/external-src/connector"]
	path = odoo/external-src/connector
	url = git@github.com:OCA/connector.git
[submodule "odoo/external-src/hr-timesheet"]
	path = odoo/external-src/hr-timesheet
	url = git@github.com:OCA/hr-timesheet.git
[submodule "odoo/external-src/hr"]
	path = odoo/external-src/hr
	url = git@github.com:camptocamp/hr.git
	branch = merge-branch-1882-master
[submodule "odoo/external-src/partner-contact"]
	path = odoo/external-src/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 9.0
[submodule "odoo/external-src/connector-jira"]
	path = odoo/external-src/connector-jira
	url = git@github.com:camptocamp/connector-jira.git
[submodule "odoo/external-src/account-financial-tools"]
	path = odoo/external-src/account-financial-tools
	url = git@github.com:camptocamp/account-financial-tools.git
	branch = 10.0
[submodule "odoo/external-src/purchase-workflow"]
	path = odoo/external-src/purchase-workflow
	url = git@github.com:camptocamp/purchase-workflow.git
	branch = 9.0
