[submodule "odoo/external-src/server-tools"]
	path = odoo/external-src/server-tools
	url = git@github.com:oca/server-tools.git
[submodule "odoo/external-src/web"]
	path = odoo/external-src/web
	url = git@github.com:oca/web.git
[submodule "odoo/external-src/enterprise"]
	path = odoo/external-src/enterprise
	url = git@github.com:camptocamp/enterprise.git
	branch = 10.0
[submodule "odoo/src"]
	path = odoo/src
	url = git@github.com:OCA/OCB.git
[submodule "odoo/external-src/product-variant"]
	path = odoo/external-src/product-variant
	url = git@github.com:OCA/product-variant.git
[submodule "odoo/external-src/connector"]
	path = odoo/external-src/connector
	url = git@github.com:OCA/connector.git
[submodule "odoo/external-src/hr-timesheet"]
	path = odoo/external-src/hr-timesheet
	url = git@github.com:OCA/hr-timesheet.git
[submodule "odoo/external-src/hr"]
	path = odoo/external-src/hr
	url = git@github.com:camptocamp/hr.git
[submodule "odoo/external-src/partner-contact"]
	path = odoo/external-src/partner-contact
	url = git@github.com:OCA/partner-contact.git
[submodule "odoo/external-src/connector-jira"]
	path = odoo/external-src/connector-jira
	url = git@github.com:camptocamp/connector-jira.git
[submodule "odoo/external-src/account-financial-tools"]
	path = odoo/external-src/account-financial-tools
	url = git@github.com:camptocamp/account-financial-tools.git
[submodule "odoo/external-src/purchase-workflow"]
	path = odoo/external-src/purchase-workflow
	url = git@github.com:oca/purchase-workflow.git
[submodule "odoo/external-src/sale-workflow"]
	path = odoo/external-src/sale-workflow
	url = git@github.com:camptocamp/sale-workflow
[submodule "odoo/external-src/queue"]
	path = odoo/external-src/queue
	url = git@github.com:OCA/queue.git
[submodule "odoo/external-src/odoo-cloud-platform"]
	path = odoo/external-src/odoo-cloud-platform
	url = git@github.com:camptocamp/odoo-cloud-platform.git
[submodule "odoo/external-src/project"]
	path = odoo/external-src/project
	url = git@github.com:camptocamp/project.git
	branch = 10.0
[submodule "odoo/external-src/margin-analysis"]
	path = odoo/external-src/margin-analysis
	url = git@github.com:OCA/margin-analysis.git
	branch = 10.0
[submodule "odoo/external-src/odoo-prototype"]
	path = odoo/external-src/odoo-prototype
	url = git@github.com:camptocamp/odoo-prototype.git
	branch = 10.0
[submodule "odoo/external-src/account-financial-reporting"]
	path = odoo/external-src/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting
	branch = 10.0
[submodule "odoo/external-src/reporting-engine"]
	path = odoo/external-src/reporting-engine
	url = https://github.com/OCA/reporting-engine
	branch = 10.0
[submodule "odoo/external-src/account-invoicing"]
	path = odoo/external-src/account-invoicing
	url = git@github.com:camptocamp/account-invoicing.git
[submodule "odoo/external-src/report-print-send"]
	path = odoo/external-src/report-print-send
	url = git@github.com:OCA/report-print-send.git
[submodule "odoo/external-src/social"]
	path = odoo/external-src/social
	url = git@github.com:OCA/social.git
	branch = 10.0
[submodule "odoo/external-src/account-closing"]
	path = odoo/external-src/account-closing
	url = git@github.com:OCA/account-closing.git
	branch = 10.0
[submodule "odoo/external-src/bank-payment"]
	path = odoo/external-src/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 10.0
[submodule "odoo/external-src/l10n-france"]
	path = odoo/external-src/l10n-france
	url = git@github.com:OCA/l10n-france.git
	branch = 10.0
[submodule "odoo/external-src/intrastat"]
	path = odoo/external-src/intrastat
	url = git@github.com:OCA/intrastat.git
	branch = 10.0
[submodule "odoo/external-src/connector-exchange"]
	path = odoo/external-src/connector-exchange
	url = git@github.com:camptocamp/connector-exchange.git
	branch = 10.0
[submodule "odoo/external-src/odoo/external-src/partner-contact"]
	path = odoo/external-src/odoo/external-src/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 10.0
