sudo: required

services: docker

git:
  # we don't want travis to pull them for the lint build,
  # so we pull them manually in the tests build
  submodules: false

env:
  matrix:
    - LINT_CHECK="1"
    - TESTS="1"
  global:
    - DOCKER_COMPOSE_VERSION="1.7.1"
    - TESTS="0" LINT_CHECK="0"
    - ADDONS_DIR=${TRAVIS_BUILD_DIR}/odoo/local-src
    - SONGS_DIR=${TRAVIS_BUILD_DIR}/odoo/songs
    - COMPOSE_PROJECT_NAME=roctool
    - GENERATED_IMAGE=${COMPOSE_PROJECT_NAME}_odoo
    - DOCKER_HUB_REPO=camptocamp/${GENERATED_IMAGE}
    - RANCHER_MINION_SERVER=https://roctool.odoo-test.camptocamp.ch
    # rancher minion server token:
    - secure: "QUc3e1+s9jI8Z/L2GuuOqNIRKDchPbtuiALhJFsiJZt8xTxUOGMrbPTizUsQLZdOYlIbhZvXR2lbDbDu/5q/tPlBp8GLAbeFauBW48qZp4jo6Z/StStYn8OFQDiS8AcUqJDBS2U2rjOefhpjqLweiGv7tPyl2vgTZ0fRNp5kzIXVDRXFPPrXuItY+SX4lb/DwV6g6i4OnKM9dqp/Xrlu6pyza1iHPwRsQ+FoKFQ+7tKGT9UCsXmJugWEPgWTy5JQpaZEanFXqzZTLZlBpiRgrVdoyKwKDPMQuoJRmXI5M8VN+1tmM/ajD72GIPkOrJ36kZEMT88FUGtd4Nj6ablgC4eChHaHEzexNbNmoEaO41QKbkpxQrUw57329ChNdMk4XM6V9u4JRoH8u53mhMYKk0iPMkamAXgTkBszDRSY439qULICjI+HhSq1ao9ZdXwTTn8gVbMsfxttXfuA6Qsgxm1aXZYkX+tx8DTjew0LU1I+AYF6KugiMbdpTDEXas8BJJgSXRFXM11d3edjSGUiOepmNP0sQI4EANgaL15Kk7Ckvbg02hiLxuUGV3tDzi7COR6E0Q3+RDgPH/2LTDxOowjImaRrzzSkpLIJLs9MyuwX226eushVnrpraNRzxqQuVrkH4enHpe/KD4Gn/kxiKXvZMxNi3Ksc5nmwORPdXgM="

before_install:
  - sudo apt-get update
  - sudo DEBIAN_FRONTEND=noninteractive apt-get install -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" docker-engine --yes --force-yes
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - git config --global user.name "TravisCI"
  - git config --global user.email "travis@camptocamp.com"
  - if [ "$LINT_CHECK" == "1" ] ; then pip install --user -q flake8 ; fi
  - if [ "$LINT_CHECK" == "0" ] ; then pip install --user -q gitpython requests ; fi

install:
  - if [ "$LINT_CHECK" == "0" ] ; then ./travis/git_submodule_update.py ; fi
    # we always specify '-f docker-compose.yml' so 'docker-compose.override.yml'
    # is not used and so the volumes are not shared with the host
  - if [ "$LINT_CHECK" == "0" ] ; then docker-compose -f docker-compose.yml build --pull ; fi
  - if [ "$TESTS" == "1" ] ; then docker-compose -f docker-compose.yml up -d db ; fi
  - if [ "$TESTS" == "1" ] ; then docker-compose -f docker-compose.yml ps ; fi

# We run the tests and scenario in the same build, so we can push the docker image
# after that we validated it has tests and scenario passing
script:

  - if [ "$LINT_CHECK" == "1" ] ; then flake8 ${ADDONS_DIR} ${SONGS_DIR} --exclude=__init__.py ; fi
  - if [ "$TESTS" == "1" ] ; then docker-compose -f docker-compose.yml run --rm -e ODOO_CLOUD_PLATFORM_UNSAFE=1 -e DEMO=True -e CI=True odoo runtests ; fi
  # run the scenario
  - if [ "$TESTS" == "1" ] ; then docker-compose -f docker-compose.yml run --rm -e ODOO_CLOUD_PLATFORM_UNSAFE=1 -e MARABUNTA_MODE=demo -e MARABUNTA_ALLOW_SERIE=True odoo odoo --stop-after-init ; fi
after_success:
  - if [ "$TESTS" == "1" ] ; then ./travis/publish.sh ; fi
