jira==1.0.7
oauthlib==2.0.0
PyJWT==1.4.2
cryptography==1.5.3
requests==2.6.0
requests-oauthlib==0.7.0
requests-toolbelt==0.7.0
xlrd>=0.8
unidecode==0.04.21

# platform
boto==2.42.0
redis==2.10.5
python-json-logger==0.1.5
statsd==3.2.1

anthem>=0.10.0

# base_report_to_printer
pycups==1.9.73

# bso_webservice tests
responses

# mailchimp
mailchimp3==3.0.4
