.box{
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    padding:20px;
    border-radius: 40px;
    page-break-inside: avoid;
}
.box-total{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin:0;
    padding:0;
}
.custom-padding{
    padding:5px;
}
.dark{
    background-color: #A6A6A6;
    color: #FFFFFF;
}
.light{
    background-color: #D9D9D9;
}
.table {
    color: #000000;
    font-size: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top:10px;
    margin-bottom:0;
}
.double-border{
     border-top-style: double;
     border-top-width: 5px;
}
h3{
    color:#7131A1;
    font-weight: bold;
    margin-top:0;
    padding-top:0;
}
h2{
    font-weight: bold;
    color: #000000;
}
h1{
    font-weight: bold;
    color: #7131A1;
    margin-top:0;
    padding-top:0;
    margin-left:80px;
}
hr.dashed-line {
    border-style: dashed;
    border-color: black;
}
.terms-text{
    margin-right:80px;
    margin-left:80px;
}
.footer-text{
    padding-top:10px;
    font-size:17px;
    font-weight: bold;
    color:grey;
}

