.box{
    margin-top:10px;
    border-radius: 20px;
    page-break-inside: avoid;
    border: 1px solid black;
    padding-right:5px;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:20px;
}
.box-total{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin:0;
    padding:0;
    padding-top:20px;
    border: 1px solid black;
    border-top: 0;
}
table.box-nrc-mrc tbody tr td{
    padding-right: 5px;
}
table.box-nrc-mrc{
    border-top: 5px double black;
    border-radius:0;
}
.custom-padding{
    padding-right:0;
    padding-left:5px;
}
table{
    border-collapse: separate;
    border-radius: 20px;
}
.table > tbody > tr > td {
    border-top:0;
}
table.services {
    font-size: 15px;
    margin-top:10px;
    margin-bottom:0;
    border: 1px solid black;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
h3{
    color:#7131A1;
    font-weight: bold;
    margin-top:0;
    padding-top:0;
}
h2{
    font-weight: bold;
    color: #000000;
}
h1{
    font-weight: bold;
    color: #7131A1;
    margin-top:0;
    padding-top:0;
    margin-left:80px;
}
hr.dashed-line {
    border-style: dashed;
}
hr{
    border-color: black;
}
.terms-text{
    margin-right:80px;
    margin-left:80px;
}
.footer-text{
    padding-top:10px;
    font-size:17px;
    font-weight: bold;
    color:grey;
}

